h1{
    color: #ff0000;
}
p{
    color: #00ff00;
}
button{
    color: rgb(160, 73, 73);
    background-color: cadetblue;
}
body{
    background-color: #D2E9E9;
}
h2{
    color: rgb(255,100,55);
}
h3{
    color: #ff0000;  
}

