#h1{
    text-align: justify;
    font-family: Arial;
}
#h2{
    text-align: justify;
    font-family: 'Franklin Gothic Medium';
}
#h3{
    text-align: justify;
    font-family: ;
}
#h4{
    text-align: justify;
    font-family: cursive;
}
#h5{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}
#h6{
    text-align: justify;
    font-family: fantasy;
}